@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Bangers&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Caveat+Brush&family=Caveat:wght@400..700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Joan&family=Kode+Mono:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&family=Phudu:wght@300..900&family=Roboto+Slab:wght@100..900&family=Smooch+Sans:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Waiting+for+the+Sunrise&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px; /* Width of the vertical scrollbar */
    height: 5px; /* Height of the horizontal scrollbar */
  }

::-webkit-scrollbar-thumb {
    background-color: #cfe2e4; /* Color of the scrollbar thumb (the draggable part) */
  }


.font1{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

.blue{
    color: #A4DDED;
}

.green{
    color: #A8EEC1;
}

.yellow{
    color: #FEF7CD;
}

.orange{
    color: #FEC6A1;
}

.purple{
    color: #E5DEFF;
}

.pink{
    color: #FFDEE2;
}

.bg-yellow{
    background-color: #FEF7CD;
}

.bg-blue{
    background-color: #A4DDED;
}

.bg-orange{
    background-color: #FEC6A1;
}

.bg-pink{
    background-color: #FFDEE2;
}

.bg-purple{
    background-color: #E5DEFF;
}

.bg-green{
    background-color: #A8EEC1;
}

.border{
    border-bottom: solid 2px black;
}
